@import "./_variables.scss";

//hide navBtn on desktop by default
.openNavBtn, .closeNavBtn {
    display: none;
}
.Nav {
    position: fixed;
    top: 7.5vh;
    right: 10vw;
    a {
        font-size: 1.1rem;
        margin: 0 0.5rem;        
    }
}
.ForSponsorBtn {
    // position: fixed;
    display: inline-block;
    width: fit-content;
    
    font-size: 1.1rem;
    // margin: 0.8rem 0;        
    background: #535353;
    color: #fcfcfc;
    padding: 0.5rem 0.8rem;
    transition: .2s ease-in-out;    

}
.ForSponsorBtn:hover {
    background: #dbdbdb;
    color: #333;
}
@media (max-width: $tablet-bp) {
    // .openNavBtn, .closeNavBtn {
    //     display: block;
    // }
    .Nav {
        right: 5vw;
    }    
}
@media (max-width: $mobile-bp) {
    .openNavBtn, .closeNavBtn {
        display: block;
        position: fixed;
        top: 5vh;
        left: 5vw;
        color: #fcfcfc;
        font-size: 1.2rem;
        width: 9.375vmax; 
        height: 9.375vmax;
        border-radius: 100%;
        background: #535353;
        border: 0;
        span {
            display: block;
            margin: 10% auto;
            width: 3.75vmax;
            height: 0.375vmax;
            border-radius: 0.5vmax;
            background: #fcfcfc;
        }
    }
    .closeNavBtn {
        display: block;
        flex-direction: column;
        border: 1px solid red;
        div {
            span {
                display: block;
                margin: 0 auto;
                transform:  rotate(45deg);
                
            }
            span:nth-of-type(2n) {            
                background: #fcfcfc;
                transform: translateY(-0.25vmax) rotate(135deg);
    
            }

        }
    }
    .Nav {
        display: none;
        flex-direction: column;
        margin: 0;
        // margin-top: 7.5vh;
        // margin-left: 0vw;
        position: absolute;
        top: 15vh;
        left: 5vw;
        width: fit-content;
        z-index: 100;
        background: #666;
        color: #fcfcfc;
        box-shadow: rgba(25,25,25,.25) 1.1vmin .8vmin 0.5rem;
        // border: 1px solid red; //debug
        a {
            margin: 2.5vh 4.25vw;
        }
        .ForSponsorBtn {
            margin: 0 4.25vw;    
            margin-bottom: 2.5vh;
            background: #333;
            color: #fcfcfc;
            padding: 0.5rem 0.8rem;
            transition: .2s ease-in-out;    
        
        }
    }
}
