@import "./_variables.scss";

//hide navBtn on desktop by default
.openNavBtn, .closeNavBtn {
    display: none;
}
.Nav {
    position: fixed;
    display: flex;
    align-items: center;
    top: 7.5vh;
    right: 10vw;
    a {
        display: flex;
        flex-direction: column;
        width: fit-content;
        font-size: 1.1rem;
        margin: 0 0.75rem;     
    }
    a:after {
        display: inline-block;
        content: '';
        background: #333;
        color: #333;
        height: 2px;
        width: 0%;
        transition: .2s ease-in;
    }
    a:hover::after {
        width: 100%;
        
    }
    a:last-of-type::after {
        display: none;
    }
}
.ForSponsorBtn {
    // position: fixed;
    display: inline-block;
    width: fit-content;
    
    font-size: 1.1rem;
    // margin: 0.8rem 0;        
    background: #535353;
    color: #fcfcfc;
    padding: 0.5rem 0.8rem;
    transition: .2s ease-in-out;    
}
.ForSponsorBtn:hover {
    background: #dbdbdb;
    color: #333;
}
@media (max-width: $tablet-bp) {
    .openNavBtn, .closeNavBtn {   
        position: fixed;
        top: 5vh;
        left: 5vw;
        color: #fcfcfc;
        font-size: 1.2rem;
        width: 9.375vmax; 
        height: 9.375vmax;
        border-radius: 100%;
        background: #535353;
        border: 0;
        span {
            display: block;
            margin: 10% auto;
            width: 3.75vmax;
            height: 0.375vmax;
            border-radius: 0.5vmax;
            background: #fcfcfc;
        }
    }
    .openNavBtn {
        display: block;
    }
    .closeNavBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 1px solid red; //debug
        div {
            // position: fixed;
            // border: 1px solid blue; //debug
            span {
                display: block;
                margin: 0 auto;
                transform:  rotate(45deg);                
            }
            span:nth-of-type(2n) {            
                background: #fcfcfc;
                transform: translateY(-0.25vmax) rotate(135deg);    
            }
        }
    }
    .Nav {
        display: none;
        flex-direction: column;
        margin: 0;
        // margin-top: 7.5vh;
        // margin-left: 0vw;
        position: absolute;
        align-items: flex-start;
        top: 15vh;
        left: 5vw;
        width: fit-content;
        z-index: 100;
        background: #666;
        color: #fcfcfc;
        box-shadow: rgba(25,25,25,.25) 1.1vmin .8vmin 0.5rem;
        // border: 1px solid red; //debug
        a {
            font-size: 1.25rem;
            padding: 2.5vh 7.5vw;
            margin: 0;
        }
        a:hover::after {
            display: none;
        }
        a:hover,
        a:focus,
        a:active {
            background: #fcfcfc;
            color: #666;
            width: 100%;
        }
        .ForSponsorBtn {
            margin: 0 4.25vw;    
            margin-bottom: 2.5vh;
            background: #333;
            color: #fcfcfc;
            padding: 0.5rem 0.8rem;
            transition: .2s ease-in-out;        
        }
        .ForSponsorBtn:hover {
            width: fit-content;
        }
    }
}
