@import "./_variables.scss";    

.Nav {
    position: fixed;
    top: 7.5vh;
    right: 10vw;    
    a {
        font-size: 1.2rem;
        margin: 0 0.8rem;        
    }
}
.ForSponsorBtn {
    position: fixed;
    top: 15vh;
    right: 10vw;
    font-size: 1.2rem;
    margin: 0 1.1rem;        
    background: #535353;
    color: #fcfcfc;
    padding: 0.75rem;
    transition: .2s ease-in-out;    

}
.ForSponsorBtn:hover {
    background: #dbdbdb;
    color: #333;
}
@media (max-width: $mobile-bp) {
    .Nav {
        position: relative;
        right: 0;
        left: 0;                
    }
    
}
